# ==========================================
# CONFIGURACIÓN DEL ENTORNO WEB (FRONTEND)
# ==========================================

# URL de la API del Portal Cautivo
VITE_API_URL=http://localhost:8000/api

# URL de la API de Administración (Protegida)
VITE_ADMIN_API_URL=http://localhost:8443/admin-api

# Clave pública de Stripe (La usará Stripe Elements o Checkout)
VITE_STRIPE_PUBLIC_KEY=pk_test_TU_CLAVE_PUBLICA_AQUI

# Entorno de PayPal (sandbox o live)
VITE_PAYPAL_CLIENT_ID=sb_TU_CLIENT_ID_DE_PAYPAL
