# ==========================================
# CONFIGURACIÓN DEL SERVIDOR (BACKEND)
# ==========================================

# Puertos
PORT=8000
ADMIN_PORT=8443

# Base de datos
DB_PATH=./db_data/wifi2go.db

# Seguridad de Tokens JWT (Bástate en una cadena muy segura y larga)
JWT_SECRET=super-secret-wifi2go-key-remplazar-en-produccion

# ==========================================
# PASARELAS DE PAGO (Llaves Secretas)
# ==========================================

# Stripe
STRIPE_SECRET_KEY=sk_test_TU_CLAVE_SECRETA_AQUI
STRIPE_WEBHOOK_SECRET=whsec_TU_SECRETO_DE_WEBHOOK_AQUI

# PayPal
PAYPAL_CLIENT_ID=sb_TU_CLIENT_ID_AQUI
PAYPAL_SECRET=sb_TU_SECRETO_AQUI
PAYPAL_WEBHOOK_ID=webhook_TU_ID_AQUI
